.jumbotron{
    padding:0;
    margin:0;
}





.container2{
    float: right;
    margin-right: 200px;
    display: flex;
}

h1{
    text-align: center;

}
div.a {
    font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 12px;
margin-left: 10px;
}

div.b{
-webkit-text-decoration-line: none; /* Safari */
text-decoration-line: none;

}